<html lang="en-US">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Housesitter for Zigbee2MQTT</title>
    <link href="/public/main.css" rel="stylesheet">
    <script>
        function openpanel() {
          const panel = document.querySelector("#panel");
          panel.classList.toggle("hidden")
          // panel.scrollIntoView()
        }
    </script>
</head>
<body>

<h1>
    Housesitter for Zigbee2MQTT
</h1>
<section>
    <article class="schedule-box">
        {{ range .Legends }}
            <div class="{{.DisplayClasses }}" {{.Style}}>
                {{ .Title }}
            </div>
        {{ end }}
        {{ range .Devices }}
            <div class="label chamfer"
                                        {{ .InlineStyles }}
            >
                    {{ .FriendlyName }}
            </div>
            {{ range .Schedules}}
                <div {{.InlineStyles }} class="schedule chamfer" onclick="openpanel()">
                    {{ .Title }}
                </div>
            {{ end }}
        {{ end }}
    </article>
</section>
<article id="panel" class="hidden">
    <em>stuff here!</em>
</article>
</body>
</html>
