<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Housesitter for Zigbee2MQTT</title>
    <link href="/public/main.css" rel="stylesheet">
    <script>
      function openpanel(id) {
        const panel = document.querySelector("#panel");
        panel.classList.toggle("hidden")
        panel.querySelector(`#schedule-${id}`).scrollIntoView()
      }

      function foo(self) {
        console.log(self)
        return false
      }
    </script>
</head>
<body>

<header>
    <h1>
        Housesitter for Zigbee2MQTT
    </h1>
</header>
<section id="schedule-grid">
    <article class="schedule-box">
        {{ range .Legends }}
            <div class="{{.DisplayClasses }}" {{.Style}}>
                {{ .Title }}
            </div>
        {{ end }}
        {{ range .Devices }}
            <div class="label chamfer"
                    {{ .InlineStyles }}
            >
                {{ .FriendlyName }}
            </div>
            {{ range .Schedules}}
                <div {{.InlineStyles }} class="schedule chamfer" onclick="openpanel({{.ID}})">
                    {{ .Title }}
                </div>
            {{ end }}
        {{ end }}
    </article>
</section>
<article id="panel" class="hidden">
    {{ range .Devices }}
        {{ $name := .FriendlyName }}
        {{ range .Schedules}}
            <article id="schedule-{{.ID}}" class="card">
                <h3>{{ $name }}</h3>
                <form onsubmit="foo(this)">
                    <label>On Time
                        <input type="time" step="60" value="{{.OnTime.HTMLValue}}">
                    </label>
                    <label>Off Time
                        <input type="time" step="60" value="{{.OffTime.HTMLValue}}">
                    </label>
                    <label>Brightness
                        <input type="range" min="0" max="100" value="{{.Brightness}}"/>
                    </label>
                    <label>
                        Color
                        <input type="color" value="{{.Color}}"/>
                    </label>
                    <button type="submit">Update</button>
                </form>
            </article>
        {{ end }}
    {{ end }}
</article>
</body>
</html>
