.schedule-box {
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(48, 1fr);
    grid-gap: 2px;
}

.schedule-box .device {
    border: 1px dotted black;
    text-align:center;
}

.header {
    grid-row-start: 1;
    grid-column-end: 48;
    height: 20px;
}

.header span {
    height: 100%;
    border: 1px solid black;
}

.legend {
    text-align:center;
}

.blue {
    background-color: lightblue;
}

