body {
  font-size: 18px;
  font-family: system-ui;
  margin: 0;
  background-color: darkslateblue;
}

header {
  background-color: bisque;
  padding: 18px;
  border-bottom: 1px solid black;
}

header h1 {
  margin: 0;
}

#schedule-grid {
  background-color: bisque;
  padding: 4px;
  margin: 18px;
}

.card {
  background-color: bisque;
  padding: 4px;
  margin: 4px;
}

.schedule-box {
  border: 1px solid black;
  display: grid;
  grid-template-columns: [labels] 124px repeat(48, [tick] 1fr);
  grid-template-rows: 24px;
  grid-gap: 2px;
}


.label {
  background-color: mediumslateblue;
  text-align: center;
}

.line {
  background-color: mediumslateblue;
}


.chamfer {
  clip-path: polygon(
    5px 0%,
    calc(100% - 5px) 0%,
    100% 5px,
    100% calc(100% - 5px),
    calc(100% - 5px) 100%,
    5px 100%,
    0% calc(100% - 5px),
    0% 5px);
}

.schedule {
  background-color: mediumslateblue;
  text-align: center;
}

.header {
  grid-row-start: 1;
  grid-column-end: 48;
  height: 20px;
}

.header span {
  height: 100%;
  border: 1px solid black;
}

.legend {
  text-align: center;
}

#panel {
  border: 1px darkslateblue;
  transition: height .3s ease-out;
  overflow: hidden;
}

#panel.hidden {
  height: 0;
}

label {
  display: block;
}